<div class="footer mt60" th:fragment="foot" xmlns:th="http://www.thymeleaf.org">
	<div class="footerBar mw990">
		<div class="footerBartype w990 clearfix">
			<p class="fbType1">100%品牌授权正品<i></i></p>
			<p class="fbType2">汇聚全网底价优品<i></i></p>
			<p class="fbType3">7天无理由退换<i></i></p>
			<p class="fbType4">全网包邮</p>
		</div>
		<div class="footerBarhelp w990 clearfix">
			<div class="ftHtext1">
				<p class="ftHtitle">关于我们</p>
				<ul>
					<li class="ftHTtxt"><a href="http://ytx.com/ytx-help/views/aboutUs.php" target="_blank">关于我们</a></li>
					<li class="ftHTtxt"><a href="http://ytx.com/ytx-help/views/recruit.php" target="_blank">诚聘英才</a></li>
					<li class="ftHTtxt"><a href="http://ytx.com/ytx-help/views/agreement.php" target="_blank">服务条款</a></li>
				</ul>
			</div>
			<div class="ftHtext2">
				<p class="ftHtitle">帮助中心</p>
				<ul>
					<li class="ftHTtxt"><a href="http://ytx.com/ytx-help/views/aboutShopping.php" target="_blank">购物指南</a></li>
					<li class="ftHTtxt"><a href="http://ytx.com/ytx-help/views/question.php" target="_blank">常见问题</a></li>
				</ul>
			</div>
			<div class="ftHtext3">
				<p class="ftHtitle">支付方式</p>
				<ul>
					<li class="ftHTtxt"><a href="http://ytx.com/ytx-help/views/alipay.php" target="_blank">支付宝</a></li>
					<li class="ftHTtxt"><a href="http://ytx.com/ytx-help/views/wechat.php" target="_blank">微信钱包</a></li>
				</ul>
			</div>
			<div class="ftHtext4">
				<p class="ftHtitle">商家入驻</p>
				<ul>
					<li class="ftHTtxt"><a href="http://ytx.com/ytx-help/views/waiting.php">入驻说明</a></li>
					<!--<li class="ftHTtxt"><a>入驻资质</a></li>-->
				</ul>
			</div>
			<div class="ftHtext5">
				<p class="ftHtitle">记住我们</p>
				<ul>
					<li class="ftHTtxt5"><a>记住域名：<span>ytx.com</span></a></li>
					<li class="ftHTtxt5"><a>百度搜索：<span>迎天下</span></a></li>
					<li class="ftHTtxt5"><a>收藏本站：<span>加入收藏</span></a></li>
				</ul>
			</div>
			<div class="imgCode">
				<p class="imgCdTitle">下载手机版</p>
				<p class="imgCd76"><img src="/static/images/img76x76.png" /> </p>
			</div>
		</div>
	</div>
	<div class="footerCopy mw990">
		<div class="footerCopytext w990">
			<p class="ftCptext">增值电信业务经营许可证： xxxxxxxxxxxxxx  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  © 2015-2016 ytx.com 版权所有</p>
			<p class="ftCplink clearfix">
				<a href="#" class="ftclimg1"><img src="/static/images/img73x30.jpg" /></a>
				<a href="#" class="ftclimg2"><img src="/static/images/img80x30.jpg" /></a>
			</p>
		</div>
	</div>
</div>