<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Samples : Create</title>
</head>
<body>
<h1 layout:fragment="header">Samples : Create</h1>
<div layout:fragment="content" class="container">
    <form id="sampleForm" th:action="@{/(form)}" th:object="${sample}" action="#" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                Validation error
            </p>
        </div>
        <div class="pull-right">
            <a th:href="@{/}" href="samples.html"> Samples </a>
        </div>
        <input type="hidden" th:field="*{id}" th:class="${#fields.hasErrors('id')} ? 'field-error'"/>
        <label for="summary">Summary</label>
        <input type="text" th:field="*{summary}" th:class="${#fields.hasErrors('summary')} ? 'field-error'"/>
        <label for="text">Text</label>
        <textarea th:field="*{text}"
                  th:class="${#fields.hasErrors('text')} ? 'field-error'">Write some text hear</textarea>
        <div class="form-actions">
            <input type="submit" value="Save"/>
        </div>
    </form>
</div>
</body>
</html>
