@charset "utf-8";
/*==========================
	@name:迎天下--common
	@date:2016-04-06
	@author:jf
==========================*/



body{font-family:"Microsoft YaHei", sans-serif; color:#333; word-wrap : break-word ;word-break:break-all; min-height: 100%; _height:100%;font-size:12px;}
a, abbr, acronym, address, applet, article, aside, audio,button, blockquote, big, body,center, canvas, caption, cite, code,datalist, dd, del, details, dfn, dl, div, dt, em, embed,fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, html,i, iframe, img, ins,kbd, keygen,label, legend, li, meter,nav,object, ol, output,p, pre, progress,q,
s, samp, section, small, span, source, strike, strong, sub, sup,table, tbody, tfoot, thead, th, tr, td,video, tt,u, ul, var,input, textarea{ border: 0; border:none; outline: 0;margin:0; padding:0;-webkit-tap-highlight-color:transparent}
input,button,select,textarea{outline:none}
ol,ul,li{list-style:none}
img,embed { vertical-align:top; }
img{border:none;}
textarea{resize:none;}
blockquote, q { quotes: none;}
table, table td { padding:0; border:none; border-collapse:collapse;border-spacing:0;}
a{ color:#333;text-decoration:none; cursor:pointer; outline:none;}/*去除超链接虚线框*/
a:hover{ text-decoration:none;}
a:active{star:expression(this.onFocus=this.blur());}/*去除ie下超链接虚线框*/
a:focus{ outline:0;}/*去除火狐下超链接的虚线框*/


.fl{ float:left;}
.fr{ float:right;}

.c000{ color:#000;}
.c333{ color:#333;}
.c666{ color:#666;}
.c999{ color:#999;}
.cfff{ color:#fff;}
.theme{color:#e62e04;}

.ffyh{
    font-family: "microsoft yahei", sans-serif;}
.lt{ text-decoration:line-through;}
.uline{ text-decoration:underline}
.fw{ font-weight:700;
    font-family: Arial, sans-serif;}

.tal{ text-align:left;}
.tar{ text-align:right;}
.tac{ text-align:center;}

.hidden{display:none;}/*隐藏不占位*/
.vhidden{ visibility:hidden;}/*隐藏占位*/
.block{display:block;}

.clearfix:after { 
    content:"\200B"; 
    display:block; 
    height:0; 
    clear:both; 
} 
.clearfix {z-index:0; *zoom:1;}

