<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <title>迎天下-502</title>
    <link href="/static/images/logo.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../static/css/common.css" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" href="../../static/css/404.css" type="text/css" th:href="@{/static/css/404.css}"/>
</head>
<body>
    <div class="main-wrap-404">
        <div class="main502">
            <p class="icon-502"></p>
            <p class="title-error clearfix"><a href="#" th:href="${indexDomain}" class="btn-return fr">返回首页</a>服务器通讯故障！</p>
        </div>
    </div>
</body>
</html>